<included>
    <property name="PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} | Application=${APP_NAME} | Module=%X{module} | %-5level | %thread | %logger{36} | User=%X{user} | TraceId=%X{trace_id} | SpanId=%X{span_id} | Message=%msg%n"/>

    <appender name="STDOUT_TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_TEXT" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${LOG_FILE}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE_PATTERN}.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>${LOG_FILE_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${LOG_FILE_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_FILE_TEXT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE_TEXT" />
        <queueSize>5000</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

    <appender name="ASYNC_STDOUT_TEXT" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="STDOUT_TEXT" />
        <queueSize>5000</queueSize>
        <discardingThreshold>0</discardingThreshold>
    </appender>

</included>