<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="logback-spring-scope.xml"/>
    <include resource="logback-spring-appenders-text.xml"/>
    <include resource="logback-spring-appenders-json.xml"/>
    <include resource="logback-spring-appenders-otel.xml"/>

    <root level="info">
        <appender-ref ref="OpenTelemetry"/>
    </root>

    <logger level="debug" name="com.zaxxer.hikari">
        <appender-ref ref="OpenTelemetry"/>
    </logger>

    <condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
        <key>LOG_FORMAT</key>
        <value>json</value>
    </condition>
    <if>
        <then>
            <condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
                <key>LOG_FILE_ENABLED</key>
                <value>true</value>
            </condition>
            <if>
                <then>
                    <root level="info">
                        <appender-ref ref="ASYNC_FILE_JSON"/>
                    </root>
                    <logger level="debug" name="com.zaxxer.hikari">
                        <appender-ref ref="ASYNC_FILE_JSON"/>
                    </logger>
                </then>
            </if>
            <condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
                <key>LOG_CONSOLE_ENABLED</key>
                <value>true</value>
            </condition>
            <if>
                <then>
                    <root level="info">
                        <appender-ref ref="ASYNC_STDOUT_JSON"/>
                    </root>
                    <logger level="debug" name="com.zaxxer.hikari">
                        <appender-ref ref="ASYNC_STDOUT_JSON"/>
                    </logger>
                </then>
            </if>
        </then>
        <else>
            <condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
                <key>LOG_FILE_ENABLED</key>
                <value>true</value>
            </condition>
            <if>
                <then>
                    <root level="info">
                        <appender-ref ref="ASYNC_FILE_TEXT"/>
                    </root>
                    <logger level="debug" name="com.zaxxer.hikari">
                        <appender-ref ref="ASYNC_FILE_TEXT"/>
                    </logger>
                </then>
            </if>
            <condition class="ch.qos.logback.core.boolex.PropertyEqualityCondition">
                <key>LOG_CONSOLE_ENABLED</key>
                <value>true</value>
            </condition>
            <if>
                <then>
                    <root level="info">
                        <appender-ref ref="ASYNC_STDOUT_TEXT"/>
                    </root>
                    <logger level="debug" name="com.zaxxer.hikari">
                        <appender-ref ref="ASYNC_STDOUT_TEXT"/>
                    </logger>
                </then>
            </if>
        </else>
    </if>
</configuration>